{% extends "layout.html" %}

{% block content %}

<div class="col-md-8">
    <h2 class="text-success mb-1"><strong>My Cart</strong></h2>
    <p class="mb-0"><strong>{{ session["username"] }}</strong></p>
</div>
<div class="bg-light p-4 rounded shadow-sm">

    <! For loop for each recipe the user has saved in their account>
    <h2>Your Cart</h2>
    {% if session.cart %}
      <ol>
        {% for item in session.cart %}
          <li>
            <strong>{{ item.title }}</strong>
            <ul>
              {% for ingredient in item.ingredients %}
                <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}

    </div>
    {% endblock %}