{% extends "layout.html" %}

{% block content %}
<h5 class="mb-4 text-success">My Cart</h5>

<div class="bg-light p-4 rounded shadow-sm">

    <! Fot loop for each recipe the user has saved in their account>
    {% for section in grocery_sections %}
    <div class="mb-4">
        <! names to be edited depending on what other developers used on their database setup>
        <h6 class="fw-bold">Section {{ loop.index }}:</h6>
        <ul class="cart-recipes">

            <! For loop to list each item in recipe with checkable box>
            {% for item in section.items %}

            <li class="cart-recipes-item d-flex align-items-left">
                <! Had to look up how to do this, but it should allow a checkbox next to each ingredient>
                <! Using this with a bootstrap setup and assistance>
               <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="item-{{ loop.index }}-{{ loop.index0 }}" {% if item.checked %}checked{% endif %}>
                    <label class="form-check-label" for="item-{{ loop.index }}-{{ loop.index0 }}">
                        {{ item.name }}
                    </label>
                </div>
            </li>
            
            {% endfor %}

        </ul>
    </div>
    {% endfor %}

</div>
{% endblock %}