<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TableTalk User Sign Up</title>
</head>
<body>
    <! New user sign up>
    <div class="login-container">
        <div class="logo">NEW USER SIGN UP</div>
        <form method="POST" action="{{ url_for('register_user') }}">
            <! Required Information Section>
            <div class="mb-3">
                <label for="first_name" class="form-label">FIRST NAME</label>
                <input type="text" class="form-control" id="first_name" name="first_name" required>
                <label for="last_name" class="form-label">LAST NAME</label>
                <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <! Required username section>
            <div class="mb-3">
                <label for="username" class="form-label">USERNAME</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <! Required password section>
            <div class="mb-3">
                <label for="password" class="form-label">PASSWORD</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <input type="hidden" name="username">
            <input type="hidden" name="password">
            <input type="hidden" name="first_name">
            <input type="hidden" name="last_name">
            <button type="submit" class="btn btn-login w-100">SIGN UP</button>
        </form>
    </div>
</body>
</html>