{% extends "layout.html" %}

{% block content %}
    <main>
        <section class="profile-info">
            <h2>{{ user.username }}</h2>
            <p>Favorite Food: {{ user.favorite_food }}</p>

            <! Commenting out bc not yet enabling profile pictures>
            <!--<img src="{{ user.profile_picture }}" alt=" Profile Picture"/>-->
        </section>

        <!-- User's recipes section -->
        <section class="user-recipes">
            <h3>{{ user.username }}'s Recipes</h3>

            <!-- For if the User has recipes -->
            {% if recipes %}
                <ul>
                    {% for recipe in recipes %}
                        <li>
                            <a href="{{ url_for('recipe_detail', recipe_id=recipe_id) }}">
                                {{ recipe.title }}
                            </a>
                        </li>
                    {% end for %}
            {% else %}
                </ul>

            {% else %}
            <! Add a prompted button to post their first recipe and take them to the modal pop up>
            <p>No recipes posted yet</p>
            {% endif %}

        </section>

        {% if user.username == session['username'] %}
          <div class="mt-2">
            <! Delete Button>
            <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}" style="display:inline;">
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>

            <! Edit Button>
            <button type="button"
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editModal"
                    data-id="{{ post.id }}"
                    data-title="{{ post.title }}"
                    data-category="{{ post.category }}"
                    data-ingredients="{{ post.ingredients | escape }}"
                    data-steps="{{ post.steps | escape }}">
              Edit</button>
          </div>
        {% endif %}

    </main>

    <footer>
        <p>&copy; 2025 TableTalk</p>
    </footer>
{% endblock %}
